<% provide(:body_id, 'home') %>
<% provide(:body_class, 'desktop') %>
<div class="intro clearfix">
  <div class="container clearfix">
    <div class="logo">
      <a href="/" class="icon-icon"></a>
    </div>
    <h1>What&#8217;s in season today?</h1>
    <div class="description">
      <p><strong>A simple app that displays the fruits &amp; veggies that are in season today. </strong></p>
      <p>Want fresh food but don't know what to pick? Just open this web app when you're in the grocery store to display the list and tips on how to pick the ripest produce. That's it.</p>
      <p>Don't have your phone around? <a href="/app">Check out the list</a>.</p>
    </div>
    <div class="phone">
    </div>
  </div>
</div>
<div class="container">
  <div class="details clear">
    <h2>Still a work in progress</h2>
    <p>In an attempt to eat fresher food, I realized that I don’t know what’s fresh. So I compiled a list of fruits and veggies and when they’re in season.</p>
    <p>This app is still in beta. Right now, the list only works for the greater New York area. But more areas are coming soon! </p>
    <p>Questions, comments? Please <a href="mailto:dave@iamdavedawson.com">send me an email</a>. I'd love to hear what you think.</p>
    <p class="credit">A <a href="http://www.havesomecottlestonpie.com/">Cottleston Pie</a> project<p>
  </div>
</div>