<footer>
  <p>What's in Season Today is a tiny website for people that don't know all that much about seasonal produce. This site simply lists the foods that are in season today.</p>
  <p>A <a href="http://www.havesomecottlestonpie.com">Cottleston Pie</a> project</p>
</footer>