<h1>Foods</h1>
<ul>
    <% @foods.each do |food| %>
      <%# if eatable.month_ids.include?(@month) %>
        <li>
          <%= link_to food_path(food) do %>
            <%=  food.title %>
          <% end %>
        </li>
      <%# end %>
    <% end %>
</ul>