<div class="wrap">
  <h1>Foods</h1>
  <ul id="food-list">
      <% @foods.each do |food| %>
        <%# if eatable.month_ids.include?(@month) %>
          <li>
            <%# link_to food_path(food) do %>
              <%= link_to food.title, food_url(food) %>
            <%# end %>
            <% if current_user.try(:admin?) %>
            | <%= link_to 'Delete', food, method: :delete, data: { confirm: 'Are you sure?' }
%> |
              <% if food.eatables.count == 0 %>
                <em class="alert">(No months assigned)</em>
              <% else %>
                <em><%# food.eatables.count %></em>
              <% end %>
            <% end %>
          </li>
        <%# end %>
      <% end %>
  </ul>
</div>