<h1>Foods</h1>
<ul>
    <% @eatables.each do |eatable| %>
      <%# if eatable.month_ids.include?(@month) %>
        <li>
          <%= link_to food_path(eatable.food) do %>
            <%=  eatable.food.title %> | <%=  eatable.food.category %>
          <% end %>
        </li>
      <%# end %>
    <% end %>
</ul>