html {
  height: 100%;
}
body {
  height: 100%;
  background: $color-white;
  color: $color-dark-brown;
  font-family: 'Whitney A', 'Whitney B';
}

.wrap {
  border: 1px solid $color-light-brown;
  // padding: 40px;
}
#food-list {
  padding: 0;
  height: auto !important;
  width: 90%;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
  background: $color-white;
  li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-top: 2px solid transparentize($color-white, 0.2);
    background: $color-white;
    color: $color-brown;
    border: 1px solid $color-brown;
    @include respond-to(wide-screens) {
        float: left;
        margin: 2%;
        width: 29%;
      }
    &.vegetable {
      border-left: 3px solid $color-green;
      @include respond-to(wide-screens) {
        border-top: 3px solid $color-green;
        background: $color-light-brown;
      }
      .more-info {
        background: darken($color-green, 8%);
        border-top: 2px solid darken($color-green, 10%);
      }
    }
    &.fruit {
      background-color: $color-pink;
      @include respond-to(wide-screens) {
        border-top: 3px solid $color-pink;
        background: $color-light-brown;
      }
      .more-info {
        background: darken($color-pink, 8%);
        border-top: 2px solid darken($color-pink, 10%);
      }
    }
    a {
      color: $color-brown;
      text-decoration: none;
      margin: 0;
      width: 100%;
      display: block;
      font-weight: 600;
      box-sizing: border-box;
      @include respond-to(wide-screens) {
        color: $color-dark-brown;
      }


    }
    h2 {
      margin: 20px 5%;
      // float: left;
    }
    .right.icon {
      float: right;
      margin: 20px 5%;
      font-size: 40px;
    }
    .more-info {
      padding: 20px 5%;
      .icon {
        text-align: center;
        margin: 0 auto 10px;
        font-size: 160px;
        display: block;
      }
      //margin-top: 10px;
      strong {
        display: block;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin: 10px 0 15px;
        word-wrap: break-word;
      }
      .source {
        font-style: italic;
        font-size: 13px;
        line-height: 16px;
        color: transparentize($color-white, 0.4)
        strong {
          color: $color-white;
        }
      }
    }
  }
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 5%;
  position: relative;
}