* {
  @include box-sizing(border-box);
}
html {
  height: 100%;
}
body {
  height: 100%;
  background: $color-light-green;
  color: $color-dark-brown;
  font-family: 'Whitney A', 'Whitney B';
  max-width: 640px;
  margin: 0 auto;
  &.desktop {
    max-width: 100%;
  }
}

h1 {
  margin: 0 0 15px 0;
  font-size: 32px;
  color: $color-green;
  font-weight: 700;
}
h2 {
  margin: 0 0 5px 0;
  font-size: 20px;
  font-weight: 700;
}

.content {
  border: 1px solid rgba(0,0,0,0.1);
  width: 96%;
  // height: 100%;
  margin: 0 auto;
  background: white;
  @include border-radius(6px);
  // padding: 40px;
}
.alert {
  color: red;
}
.wrap {
  width: 92%;
  margin: 0 auto;
  padding: 20px 0;
}
#food-list {
  padding: 0;
  height: auto !important;
  margin: 0 auto;
  border-radius: 6px;
  overflow: hidden;
  background: $color-white;
  li {
    list-style-type: none;
    margin: 0;
    padding: 20px 7%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    @include respond-to(wide-screens) {
    }
    &.vegetable {

    }
    &.fruit {

    }
    a {
      text-decoration: none;
    }
    h2 {
      margin: 0;
      font-size: 20px;
      color: $color-green;
      // float: left;
    }
    .detail {
      color: $color-light-brown;
      font-size: 16px;
    }
    .right.icon {
      float: right;
      margin: 20px 5%;
      font-size: 40px;
    }
    .more-info {
      padding: 20px 5%;
      .icon {
        text-align: center;
        margin: 0 auto 10px;
        font-size: 160px;
        display: block;
      }
      //margin-top: 10px;
      strong {
        display: block;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin: 10px 0 15px;
        word-wrap: break-word;
      }
      .source {
        font-style: italic;
        font-size: 13px;
        line-height: 16px;
        color: transparentize($color-white, 0.4)
        strong {
          color: $color-white;
        }
      }
    }
  }
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 5%;
  position: relative;
}