header {
  padding: 5px 0 0;
  background: $color-brown;
  // border-bottom: darken($color-brown, 30%);
  a {
    color: $color-white;
    text-decoration: none;
  }
  p a {
    text-decoration: underline;
  }
  h1 {
    text-align: center;
  }
  nav {
    position: relative;
  }
  .locations, .season {
    position: absolute;
    top: 0;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    font-weight: 500;
    color: transparentize($color-white, 0.25);
    font-size: 12px;
    a {
      color: transparentize($color-white, 0.25);
    }
  }
  .locations {
    left: 5%;
  }
  .season {
    right: 5%;
  }
  .explain {
    position: absolute;
    right: 5%;
    top: 8px;
    width: 20px;
    height: 20px;
    padding: 4px;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
    background: transparentize($color-white, 0.7);
    display: block;
    @include border-radius(22px);
    span {
      display: none;
    }
  }
  .logo {
    position: absolute;
    top: 0;
    width: 100%;
    height: 35px;
    text-indent: -99999px;
    margin: 0;
    a {
      display: block;
      margin: 8px auto;
      width: 100%;
      background-size: 35px;
      background-position: center;
    }

  }
  .god-mode {
    background: $color-pink;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
    color: $color-white;
    position: relative;
    top: -5px;
    padding: 5px 0;
    width: 100%;
    .current-user {
      position: absolute;
      left: 1%;
      width: 50%;
      text-align: left;
      top: 5px;
    }
    ul {
      position: absolute;
      right: 1%;
      width: 50%;
      text-align: right;
      top: 5px;
      li {
        display: inline;
        margin-right: 1%;
      }
    }
  }
}